.auth-form {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 25rem;
  padding: 1rem 2rem;
  justify-content: center;
  flex-direction: column;
  border: 0.0625rem rgb(207, 207, 207) solid;
  border-radius: 0.125rem;

  h1 {
    text-align: center;
  }

  a {
    font-size: 0.875rem;
  }

  .auth-form__submit {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
}
